/*.quote {
	font-size: 24px;
}

.author {
	font-size: 24px;
}*/
/*Global Commdands */

html  { 
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	
}

body	{
	background-color: #FFFFFC;
	color: #2F4F4F;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	font-size:100%;
}

footer 	{
	width: 100%;
	clear: both;
	height: 150px;
	background-color:#F5F5DC;
	font-size: 8px;
	margin: auto;
	background: rgba(0,0,0,0.1);
	text-align: center;

}

footer p {
	font-size: 16px;
	transform: translateY(330%);
	color: black;
	float:right;
	clear: right;

}

@font-face {
	src: url("../static/fonts/NanumMyeongjo-Regular.ttf");
	font-family: Nanum;
}

@font-face {
	src: url("../static/fonts/GreatVibes.ttf");
	font-family: GreatVibes;
}
@font-face {
	src: url("../static/fonts/Poiret.ttf");
	font-family: Poiret;
}



#fullbodycontainer {
	min-height: 100%;
}

.main {
	overflow: auto;
	padding-bottom: 150px; 

}
.container{	
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
.container::placeholder {
	color:#2F4F4F;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
a {
	text-decoration: none;
}
a:hover {
	color:brown;
}
img {
	max-width: 100%;
	max-height: 100%;
}


/* MAIN PAGE (INDEX.HTML) */
.articlebox {

	width: 80%;
	margin: auto;
	overflow: auto;
	position: relative;
	font-size: 13px;
	overflow: hidden;
	min-height: 1000px;
	height: auto;
	display: flex;
	flex-direction: column;

}


#articlecontainer{
	width: 98%;
	height: auto;
	margin: auto;
	padding-bottom:80px;
	overflow: visible;
	justify-content: center;
	position: relative;
	display: inline-block;
	align-items: center;
	border-top: 1px solid #ead1ae;
	text-align: center;
	opacity: 1;
}


.banner {
	text-align: center;
	position: relative;
	margin: 0;
	padding:0;
	opacity: 0;
	transform: translateX(22px);
	transition: 1.6s all ease-in-out;

}


.banner h1{
	font-size: 60px;
	font-weight: bold;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding-bottom: 0;
	margin-bottom: 0;
}

.banner p{
	font-size: 23px;
	font-style: oblique;
	margin-top: 10px;
	padding-top: 0;
}


#articlecontainer button {
	padding: 1px 10px;
	cursor: pointer;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
	margin-top: 5px;
}

#articlecontainer button:hover {
	background: rgba(0,0,0,0.2)
}

#articlecontainer h1 {
	margin-bottom: 10px;
}


#introduction {
	width: 100%;
	min-height: 500px;
	height: auto;
	margin-bottom: 20px;
	position: relative;
	display: inline-flex;
	padding: 10px 0 0 0;
	text-align: center;
	border-top: 1px solid #ead1ae;

}


.introdescription {
	width: 60%;
	margin: auto;
	opacity: 0;
	transform: translateY(22px);
	transition: 1.6s all ease-in-out;
	

}

.introdescription h1 {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
	font-size:35px;
	height: auto;
	padding: 0;
	font-style: italic;
}

.introdescription p {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
	font-size:30px;
	height: auto;
	padding: 0;
}

.introdescription h5 { 
	font: 40px/0.8 'Great Vibes', Helvetica, sans-serif;
	font-size:40px;
	height: auto;
	padding: 0;
  	padding-left: 60%;
}

.introimage {
	width: 30%;
	margin: auto;
	padding: 0;
	text-align: center;
	align-content: center;
	opacity: 0;
	transform: translateY(22px);
	transition: 1.6s all ease-in-out;


}
.introimage img{
	border-radius: 100%;
	min-height: 200px;
	min-width: 200px;
	height: 350px;
	width: 350px;
	border: 8px solid white;

}

.row{
	padding: 0 ;
	position: relative;
	margin: 0;
	padding: 20px 0;	
	display:inline-block;
	opacity: 0;
	transform: translateY(22px);
	transition: 1.6s all ease-in-out;
}

.row h1 {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 60px;

}

.recipecollectionheader {
	opacity: 0;
	transform: translateX(22px);
	transition: 1.6s all ease-in-out;
}


.column{
	overflow: visible;
	width: 300px;
	height: 390px;
	background-color: #FFFF;
	box-shadow: 1px 1px 3px;
	text-align: center;
	padding: 0;	
	margin: 20px;
	display: inline-block;
	position: relative;
	transition: transform.2s;

}




.column h3 {
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 0;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.column p {
	font-size: 15px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	margin-top: 7px;


}


.column img {
	max-height: 100%;
	width: 100%;
	object-fit: cover;

}


.navcontainer {
	text-align: center;
	margin: auto;
}

.addrecipebutton {
	text-align: center;
	width: 54%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.addrecipebutton button{
	width: 80%;
	height: 50px;
	border-radius: 0;
	font-family: font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 23px;
	font-style: italic;
	background-color: #ffe6b3;
	border-radius: 20px;

}

.descriptionbox {
	height: 70px;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	position: flex;
	overflow: hidden;
 	 display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
  	text-align: center;
  
  	
}


.articlebox-appear {
	opacity: 1;
	transform: translateY(0px);


}

.searchcontainer {
	opacity: 1;
	transform: translateY(0px);
}




/*Headers(ALL HTML) */
header {
	height: auto;
	margin: auto;
	padding: none;
	width:100%; 
	z-index: 14;
	
}




header .container {
	overflow: visible;
}


.loginnav {
	background-color: rgba(0,0,0,0);
	font-color: white;
	width: 100%;
	position:absolute;
	height: 9vh;

}

.loginnav-fixed {
	position:fixed;
	background-color: white;

}

.hamburgerContainer {
	position: absolute;
	left: 5px;
	top: 0;
	justify-content: center;
	width: 10vw;
	height: 9vh;
	cursor: pointer;
	padding: 0;
	margin: auto;
	z-index: 200;
	display: none;



}

.hamburgerMenu 
{
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101,47,0.2);
	margin:auto;

}

.hamburgerMenu::before,
.hamburgerMenu::after  {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 40px;
	height: 4px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101,47,0.2);

}

.hamburgerMenu::before {
	transform: translateY(-13px);
}

.hamburgerMenu::after {
	transform: translateY(13px);
}


.hamburgerToggler {
	display: block;
}



nav ul {
	position: relative;
	margin: auto;
	padding: 0;
	display: block;
	height: 100%;
	width: 50%;
	text-align: center;
	height: 9vh;
	


}	



nav a h2 {
	float:left;
	font: 400 130px/0.8 'GreatVibes';
  	color: #FFFF;
  	text-shadow: 1px 1px 3px black; 
  	font-size: 47px;
  	margin-top: auto;
  	padding-top: 20px;
  	position: relative;
  	z-index: 2;
  
  
  	
}

.searchbar input[type=text] {

	height: 17px;
	width: 20%;
	padding: 5px;
	margin: 20px auto;
	font-size: 20px;
	text-align: center;
	float:right;
	clear:right;
	text-align: left;
	opacity: 0.2;
}

.searchbar ::placeholder {
	color:#2F4F4F;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

}



nav ul li{
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	text-transform: uppercase;
	position: relative;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin: auto 0;	
	color: #FFFF;
	width: 20%;
	transform: translateY(90%);



}

.userprofilename {
	font-weight: bold;
	color: #FFFF;
	text-shadow: 1px 1px 3px black; 
	font-size: 18px;
	text-decoration: none;
	width: 23%;


}


nav ul a{
	font-weight: bold;
	color: #FFFF;
	text-shadow: 1px 1px 3px black; 
	font-size: 18px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

nav ul li ul {
	position: absolute;
	z-index: 10;
	height: 120px;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.6);
	display: none;


}

nav ul li ul li {
	position: relative;
	float:none;
	height: 30%;
	width: 100%;
	padding:0;
	margin: auto;
	
}



/*Register Section (REGISTER.HTML)*/


.registrationpage {
	background: url('/static/images/login.jpg') no-repeat center fixed;
    background-size: cover;
}

#registrationbox {
	min-width: 20%;
	width: 100%;
	display: flex;
	margin: auto;
	padding: 0;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: relative;
}

#registercontainer{
 	 width: 500px;
	 margin: 8% auto;
	 height: 600px;
	 background: rgba(0,0,0,0.6);
	 text-align: center;
	 padding: 0;
}

#registercontainer h3 {
	margin: 0;	
}

#registercontainer input {
	width: 70%;
	margin: 5% auto;
	height: 30px;
	border: none;
	border-bottom: 1px solid white;
	background:transparent;
	outline: none;
	font-size: 15px;
	color: white;
	
}


#registercontainer button {
	width: 70%;
	padding: 0;
	margin: 5% auto;
	height: 30px;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	background-color: #FF7F50;

}

.registerform {
	height: 100%;
	padding-top: 50px;
	color: white;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

}


.registerform input::placeholder {
 	color:white;

}



/*login form(LOGIN.HTML) */

.loginpage {
	background: url('/static/images/login.jpg') no-repeat center fixed;
    background-size: cover;
}


.logincontainer {
	 width: 400px;
	 margin: 8% auto;
	 height: 561px;
	 background: rgba(0,0,0,0.6);
	 align-content: center;

}

.logincontainer button {
	width: 70%;
	padding: 0;
	margin: 5% auto;
	height: 30px;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	background-color:#FF7F50;

}

.logincontainer input {
	width: 70%;
	margin: 5% auto;
	height: 30px;
	border: none;
	border-bottom: 1px solid white;
	background:transparent;
	outline: none;
	font-size: 15px;
	color: white;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.logincontainer label {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	float;left: 
	margin:0;
	padding: 0;
}

.logincontainer p {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	margin:auto;
	position: relative;
	font-size: 15px;
	margin-left:15px;

}

.logincontainer p a{
	text-decoration: underline;

}

.formsbox {
	transform: translate(15%, 50%);
	color:white;

}



/*CREATE RECIPE SECTION (ADDRECIPE.HTML)*/

#addrecipesection {
	width: 80%;
	position: relative;
	margin:auto;
	height: 100%;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

}

.addrecipeblock {
	width: 95%;
	margin:  5% auto;
	height: 80%;

}


.formcontainer {
	width: 63%;
	margin: 0;
	height: auto;
	display: inline-block;

}

.formcontainer2 {

	width: 35%;
	margin: 0 ;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: center;
}

.formcontainer2 img {
	height: 100%;
	width: 100%;
	border: 4px solid white;

}

.formcontainer input[type=text] {
	height: 40px;
	width: 90%;
}

.formcontainer textarea {
	width: 90%;
	height: 70px;
	overflow: auto;
}

.formcontainer textarea[name = ingredients] {
	width: 90%;
	height: 200px;
}
.formcontainer textarea[name = directions] {
	width: 90%;
	height: 200px;
}

.formcontainer textarea::placeholder {
	font-style: italic;
}

.createbuttons button {
	width: 40%;
	padding: 0;
	margin: 5% auto;
	height: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color:#FF7F50;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;


}

.createbuttons input[type=button] {
	width: 40%;
	padding: 0;
	margin: 5% auto;
	height: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: grey;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

}





/*SHOWCASE AREA (INDEX.HTML, PROFILE.HTML) */

#showcase{
	background-image: url('/static/images/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	height: 100vh;
	border: none;
	text-shadow: 2px 2px black;
	width: 100%;
	position:relative;
	margin:auto;
	
}


 #showcase h1{
 	font-size: 80px;
 	position: relative;
	font-family: Nanum;
  	text-shadow: 3px 3px 2px black; 
  	color:	#F8F8F8;
  	text-align: justify-all;
  	margin:auto;
  	height: 25%;
  	width: 50%;
  	transform: translateY(130%);
  	text-transform: uppercase;
  	transition: 1.2s all ease-in-out; 
  	opacity: 0;
}
 	

 #showcase p{
 	font-size: 15px;
 	color: #F0F8FF;
 	margin-top: 40px;
 	text-shadow: 4px 4px 3px black; 

 
 }





/*SPECIFIC RECIPE ARTICLE PAGE (ARTICLE.HTML) */

#recipeshowcase {
	
	margin: auto;
	margin-top: 100px;
	width: 70%;
	overflow: hidden;
	position: relative;
	font-size: 13px;
	min-height: 1000px;
	height: auto;
	display: flex;
	flex-direction: column;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}



.links  {
	position: relative;
	margin: 0;
	list-style: none;
	padding: 0;
	text-align: center;
	width: 100%;
	font-size: 20px;
	border-top: 1px solid #ead1ae;
	border-bottom:1px solid #ead1ae;
	opacity: 0;
	transform: translateX(-22px);
	transition: 1.6s all ease-in-out;


	
	
}
.links li {
	list-style: none;
	display: inline-block;
	margin: auto 40px;
}

.links a{
	color: #696969;
	text-decoration: none;
}

.links a:hover {
	color:brown;
}


.dishnamesummarygroup {
	width: 100%;
	display:block;
	padding: 0;
	position: relative;
	text-align: center;
	justify-content: center;
	opacity: 0;
	transform: translateX(22px);
	transition: 1.6s all ease-in-out;

}

#pictureshowcase {
	width: 95%;
	padding: 0;
	position: relative;
	align-items: center;
	object-fit: fill;
	margin: 10px auto;
	
	
}

#pictureshowcase img {
	min-height: 300px;
	min-width: 300px;
	width: 95%;
	height: auto;
	align-self: center;
	position: relative;
	margin: 0;
	border:5px solid white;
	max-height: 700px;
}

#pictureshowcase p {
	margin: 0;
	padding-top: 0;
	font-size: 20px;
	width: 100%;

}

.dishnameshowcase {
	position: relative;
	padding: 0;
	width: 100%;
	text-align: center;
	position: relative;
	height: auto;
	border-top: 1px solid #ead1ae;
	border-bottom:1px solid #ead1ae;

	
}

.dishnameshowcase h2 {
	padding: 0;
	margin: 0;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 70px;
	text-align: center;

}


.dishnameshowcase h4 {
	margin: 0;
	margin-top: 3px;
	padding-top: 0;
	font-size: 32px;
	width: 100%;
	text-align: center;

}


.dishnameshowcase h5 {
	margin: 0;
	margin-top: 3px;
	padding-top: 0;
	font-size: 18px;
	width: 100%;
	text-align: center;

}


#dishnamesummarygroup2 {
	width: 95%;
	display:inline-flex;
	padding: auto;
	position: relative;
	justify-content: center;
	margin-top: 50px;
	border-bottom:1px solid #ead1ae;
	padding-bottom: 40px;

}



.ingredientsshowcase {
	width: 45%;
	display: block;
	margin: 0 0 0 5%;
	position: relative;
	padding: auto;
	font-size: 22px;
	opacity: 0;
	transform: translateX(-22px);
	transition: 1.6s all ease-in-out;


}

.ingredientsshowcase h1{
	width: 85%;
	text-align: center;
	margin: auto;
	font-size: 50px;
	

}


.ingredientsshowcase li{
	margin: auto;
	padding: 0 0 5px 45px;
	list-style: none;
	background-image: url('/static/images/ingredients.png');
	background-repeat: no-repeat;
	background-position: left ;
	background-size: 30px;
	text-align: justify;
	width: auto;


}
.directionsshowcase {
	width:45%;
	display: block;
	margin:  0 5% 0 0;
	position: relative;
	font-size: 20px;
	padding: auto;
	text-align: center;
	opacity: 0;
	transform: translateX(22px);
	transition: 1.6s all ease-in-out;
	
}

.directionsshowcase h1{
	width: 85%;
	text-align: center;
	margin: auto;
	font-size: 50px;
	text-indent: 45px;


}


.directionsshowcase li{
 	margin: auto;
	padding: 0 0 5px 45px;
	list-style: none;
	background-image: url('/static/images/directions.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	text-align: justify;
	width: auto;

	
}





/*COMMENT SECTION (ARTICLE.HTML)*/

.commentsArea {
	opacity: 0;
	transform: translateX(22px);
	transition: 1.6s all ease-in-out;

}


#commentbox {
	position: relative;
	margin:0;
	padding-bottom: 20px;
	display: block;
	font-size: 25px;
	text-align: center;
/*	background-color: #eeeec3;*/


}

#commentbox button {
	float: right;
	width: 20%;
	padding: 0;
	margin:  auto;
	height: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color:#FF7F50;
	font-style: italic;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-weight: bold;

}


#commentbox textarea {
	width: 99%;
	height: 150px;
}

#commentbox textarea::placeholder {
	font-style: italic;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color: 	#C0C0C0;
	font-size: 30px;
	margin-left:20px;
}

#commentsection {
	position:relative;
	margin: 0;
	padding:0;
	height: 100%;
	min-height: 500px;
	font-size: 40px;

}


.commentheader {
	font-size: 40px;
	font-weight: bold;
	position: relative;
	padding-left:20%;
	margin:0;
	text-align: left;
	width: 100%;
	align-self: center;
	height: 120px;
/*	background-color: #eeeec3;*/


}

.comments {
	margin:0;
	margin-top:50px;
	padding: 0;
	position: relative;
	display: flex; 
	font-size: 24px;
	border-top:1px solid #ead1ae;

}


.comments h3{
	margin-bottom: 0;

}

.comments h6 {
	margin-top: 0;
	font-size: 12px;
	margin-bottom: 0;
	color: #b3b3b3;
}

.comments p {
	margin-top: 10px;
}



.recipeshowcase-appear {
	opacity: 1;
	transform: translateY(0px);


}



/*Profile Section (PROFILE.HTML)*/

#profilebox {
	width: 80%;
	margin: 5% auto;
	position: relative;
	font-size: 13px;
	overflow: hidden;
	min-height: 1000px;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;

}

#profilebox h1{ 
	border-top: 1px solid #ead1ae;
	border-bottom:1px solid #ead1ae;
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

 }

.headername{
	text-align: center;
	height: auto;
	z-index: 0;

}

.headername h2 {
	font: 400 130px/0.8 'Poiret';
  	text-shadow: 3px 1px 3px black; 
  	font-size: 90px;
  	margin: 20px 20px;
  	color: 	#8B4513;
  	height: auto;
  	z-index: 0;

  
}

#profilerecipecontainer {

	width: 100%;
	margin: 0 10px;
	padding: 50px 0;
	overflow: auto;
	justify-content: center;
	text-align: center;
	position: relative;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
}




/*UPDATE SECTION (UPDATE.HTML)*/

#updatesection {
	width: 80%;
	position: relative;
	margin:auto;
	height: 100%;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

}

.updateblock {
	width: 95%;
	margin:  5% auto;
	height: 80%;

}


.formcontainer {
	width: 63%;
	margin: 0;
	height: auto;
	display: inline-block;

}

.formcontainer2 {

	width: 35%;
	margin: 0 ;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: center;
}

.formcontainer2 img {
	height: 100%;
	width: 100%;
	border: 4px solid white;

}

.formcontainer input[type=text] {
	height: 40px;
	width: 90%;
}

.formcontainer textarea {
	width: 90%;
	height: 70px;
	overflow: auto;
}

.formcontainer textarea[name = ingredients] {
	width: 90%;
	height: 200px;
}
.formcontainer textarea[name = directions] {
	width: 90%;
	height: 200px;
}

.formcontainer textarea::placeholder {
	font-style: italic;
}

.updatebuttons button {
	width: 40%;
	padding: 0;
	margin: 5% auto;
	height: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color:#FF7F50;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;


}

.updatebuttons input[type=button] {
	width: 40%;
	padding: 0;
	margin: 5% auto;
	height: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: grey;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;



}









/*MEDIA QUERIES*/


@media screen and (max-width: 1380px) {


/*MEDIA QUERIES FOR HEADER NAV BAR*/
nav ul a{
	font-size: 16px;
	
}

.userprofilename {
	font-size: 16px;
	width: 40%;
}

nav a h2 {
	font-size:40px;
}

.searchbar input[type=text] {

	width: 20%;
	margin: 2% auto;

}


/*MEDIA QUERIES FOR BODY (INDEX.HTML)*/

#showcase h1 {
	font-size:65px;

}

#introduction {
	display: block;
}

.introimage {
	width: 60%;
}




/*MEDIA QUERIES FOR ARTICLE PAGE (ARTICLE.HTML)*/

#pictureshowcase {
	margin: auto;
	height: auto;
	
}
#dishnameshowcase {
	margin: auto;
	height: auto;
}

#dishnamesummarygroup2 {
	display:block;	

}

.ingredientsshowcase {
	width: 100%;
	

}
.directionsshowcase {
	width: 100%;


}


#showcase .container h3 {
	font-size: 45px;
	margin-bottom: 0;
}



.ingredientsshowcase li{
	text-align: center;
}


.links li {
	font-size: 16px;
	padding: 0;
}





}



@media screen and (max-width: 790px) {

/*HEADER QUERIES*/

footer p {
	font-size: 15px;
}


.hamburgerContainer {
	display: flex;


}



nav ul{
	background: rgba(0,0,0,0.3);
	flex-direction: column;
	margin: 0 auto;
	height: 100vh;
	padding: 0;
	width: 100%;	
	display: none;
	transition: 1.5s all ease-in-out;


	
}


nav ul li {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position: relative;
	height: 15%;
	margin-right: 0;


}

header .container {
	width: 100%;
}



nav h2 {
	position:absolute;
	left: 30%;
	display: flex;
	float: none;
	width: 40%;
	text-align: center;
	justify-content: center;
	font-size:40px;
	margin: auto;
}

nav ul a {
	font-size: 30px;
	margin: 0 auto;
	padding: 0;


}
nav ul li ul {
	height: 160px;

	
}

nav ul li ul li {
	width: 100%;
	height: 40%;
	padding-top: 0;

	
}

.loginnav {

	background: rgba(0,0,0,0.8);

}
.userprofilename {
	font-size: 30px;
	padding-top: 0;
	width: 100%;
}

.searchbar input[type=text] {
	display: none;
}




/*SHOWCASE QUERIES*/


#showcase{
	min-height: 380px;

}

#showcase h1 {
	font-size:50px;

}



/*SHOWCASE QUERIES*/




.addrecipebutton button{
	font-size: 17px;
	margin: auto;

}

.searchbar ::placeholder {
	font-size: 15px;
}

.searchbar input[type=text] {

	height: 30px;
	width: 43%;
	margin: 2% auto;
}




/*ARTICLE CONTAINER QUERIES*/
.column {
	display: inline-block;
	text-align: center;
	justify-content: center;
	align-content: center;


}

.introdescription p{
	font-size:18px;
	text-align: center;

}

/*SPECIFIC RECIPE ARTICLE PAGE*/

#pictureshowcase img {
	min-height: 240px;
	min-width: 240px;
	width: 95%;
	height: auto;
	align-self: center;
	position: relative;
	margin: 0;
	border:5px solid white;
	max-height: 700px;
}

#pictureshowcase p {
	margin: 0;
	padding-top: 0;
	font-size: 15px;
	width: 100%;

}

.links li {
	font-size: 11px;
	padding: 0;
}

.dishnameshowcase h2{
	font-size: 33px;
}

.dishnameshowcase h4{
	font-size: 25px;
}


.ingredientsshowcase {
	width: 95%;
	margin: auto;
	text-align: center;

}

.ingredientsshowcase h1 {
	font-size: 26px;
	text-align: center;
	text-indent: 0;
	margin: auto;



}

.ingredientsshowcase li{
	font-size: 16px;
	padding: 0 0 0 37px;
	background-size: 23px;
	width: auto;
	text-align: justify;
	transform: translateX(-22px);



}

.directionsshowcase {
	width: 95%;
	margin: auto;
	text-align: center;


}

.directionsshowcase h1 {
	font-size: 26px;
	text-align: center;
	text-indent: 0;
	margin: auto;
}

.directionsshowcase li{
	font-size: 16px;
	padding: 0 0 0 37px;
	background-size: 23px;
	width: auto;
	text-align: justify;
	transform: translateX(-22px);

}

.commentheader h1 {
	font-size: 28px;
}

#commentbox textarea {
	height: 100px;
	width: 95%;

}

#commentbox textarea::placeholder {
	font-size: 20px;

}
.comments p {
	font-size: 16px;
	display: inline-block;
}

.comments h3{
	font-size: 19px;
}






}


