{% extends "layout.html" %}

{% block content %} 

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
			{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}


<section>
	<header class = 'loginnav'>
		<div class="container">
			<nav>	
				<h2>RecipeShare</h2>
				<ul>
					{% if not session['username'] %}
							<li><a href = {{ url_for("register")}} >Register</a></li>
							<li><a href = {{ url_for("login")}}>Sign in</a></li>
					{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}> Logout </a></li>
					{% endif %}	
									
							<li><a href = "#">About</a></li>

					{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
					{% else %}
							<li><a href = {{ url_for("profile", username = session['username'])}}>Profile</a></li>
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
					{% endif %}	
				</ul>
			</nav>
		</div>
	</header>



	<article id = 'addrecipesection'>
		<div class ='addrecipeblock'>
			<div class = 'formcontainer2'>
					<img src = "/static/images/recipeimages/default.gif" ><br>	
			</div>
			<div class = 'formcontainer'>
				<form method = "POST" action = "addrecipe" enctype="multipart/form-data">
					<div class="container">
					    <label>Dishname:</label><br>
					    <input type="text" class="container" name = "dishname">
		  			</div>
				  	<div class="container">
					    <label >Description:</label><br>
					    <textarea class = 'container' name = 'description'></textarea> 
				  	</div>
				  	<div class="container">
					    <label >Ingredients:</label><br>
					    <textarea class = 'container' name = 'ingredients' placeholder="Enter ingredients in list form"></textarea>
				  	</div>
				  	<div class="container">
					    <label >Directions:</label><br>
					    <textarea class = 'container' name = 'directions' placeholder="Enter directions in list form"></textarea>
				  	</div>
					<div class ='container'> 
						<label>Main Image:</label>
				  		<input type="file" name="image">
				  	</div>
				  	<div class="container">
				  		<div class ='createbuttons'>
				  			<button type="submit">Create</button>
				  			<a href = 'index.html'><input type="button" name="cancel" value= 'Cancel'></a>
				  		</div>
				  	</div>
				</form>
			</div>
		</div>
	</article>
</section>

{% endblock %}