{% extends "layout.html" %}

{% block content %} 

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
			{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}

<header class = 'loginnav'>
		<div class="container">
			<nav>	
				<h2>RecipeShare</h2>
				<ul>
					{% if not session['username'] %}
							<li><a href = {{ url_for("register")}} >Register</a></li>
							<li><a href = {{ url_for("login")}}>Sign in</a></li>
					{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}> Logout </a></li>
					{% endif %}	
									
							<li><a href = "#">About</a></li>

					{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
					{% else %}
							<li><a href = {{ url_for("profile", username = session['username'])}}>Profile</a></li>
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
					{% endif %}	
				</ul>
			</nav>
		</div>
</header>	

<section id = 'recipeshowcase'>
	{% for n in recipe %}

	<article id = 'dishnamesummarygroup'>
		<article id = 'pictureshowcase'>
			<div class = 'container'>
				<img src = "{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" >
			</div>
		</article>
		<article id = 'dishnameshowcase'>
			<div class = 'container'>
				<h2>{{n[1]}}</h2>				
			</div>
			<div class = 'container'>
				<p>By {{n[6]}}</p>
			</div>
		</article>
		<article id = 'descriptionshowcase'>
			<div class = 'container'> 
				<p>{{n[2]}}</p>	
			</div>
			</article>
	</article>

	<article id = 'ingredientsshowcase'>
		<div class = 'container'>
			{% set ing = n[3].split('\n') %}	
			{% for x in ing %}
			<ul>
				<li> {{x}}</li>
			</ul>
			{% endfor %}
	
		</div>
	</article>
	<article id = 'directionsshowcase'>
		<div class = 'container'>
			{% set dir = n[4].split('\n') %}	
			{% for y in dir %}
			<ol>
				<li> {{y}}</li>
			</ol>
			{% endfor %}			
		</div>
	</article>

	<article class = 'links'>
		
			
			{% if session['username'] %}
				<div class = 'container'>
					<a href = "{{ url_for('addtoreadinglist', id = n[0])}}">Add to reading list</a>
				</div>
			
				<div class = 'container'>
					<a href = "{{ url_for('removefromreadinglist', id = n[0])}}">Remove from reading list</a>
				</div>
				
			{% endif %}	

			{% if session['username'] == n[6] %}
			<form method="POST", action="article">
				
				<div class ='container'>
					<a href = "{{ url_for('update', id = n[0])}}">Edit Recipe</a>
				</div>

				<div class = 'container'>
					<a href = "{{ url_for('delete', id = n[0])}}">Delete Recipe</a>
					</div>
			</form>	
			{% endif %}		
	</article>

	{% endfor %}
	
	<hr>
	{% if session['username'] %}
		<article id = 'commentbox' >
			<div class = 'container'>
				<form method="POST", action = {{id}}>
					<label>Comments:</label><br>
					<textarea name = 'comments' placeholder="Enter comments"></textarea> 
					<br>
					<button type="submit">Submit</button>
				</form>
			</div>
		</article>
	<hr>

	{% endif %}
	<section id = 'commentsection'>
		<div class = 'commentheader'>
			<div class = 'container'>
				<h1>Comments</h1>
			</div>
		</div>
		{% for n in comments %}
		<div class = 'comments'>
			<div class ='container'>
				
				<h3> {{n[1]}}</h3>
				<p>{{n[0]}}</p>
				
			</div>	
		</div>
		{% endfor %}
	</section>

	

</section>

{% endblock %}

