{% extends "layout.html" %}

{% block content %} 

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
			{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}

<header class = 'loginnav'>
		<div class="container">
			<nav>	
				<h2>RecipeShare</h2>
				<ul>
					{% if not session['username'] %}
							<li><a href = {{ url_for("register")}} >Register</a></li>
							<li><a href = {{ url_for("login")}}>Sign in</a></li>
					{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}> Logout </a></li>
					{% endif %}	
									
							<li><a href = "#">About</a></li>

					{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
					{% else %}
							<li><a href = {{ url_for("profile", username = session['username'])}}>Profile</a></li>
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
					{% endif %}	
				</ul>
			</nav>
		</div>
</header>	

<section id = 'recipeshowcase'>
	{% for n in recipe %}
	<article id = 'dishnamesummarygroup'>
		<article id = 'dishnameshowcase'>
			<div class = 'container'>
				<h2>{{n[0]}}</h2>				
			</div>
			<div class = 'container'>
				<h4>By {{n[1]}} {{n[2]}}</h4>
			</div>
		</article>

		<article id = 'pictureshowcase'>
			<div class = 'container'>
				<img src = "{{ url_for('static' , filename = 'images/recipeimages/' + n[3])}}" ><br>
			</div>
			<div class = 'container'> 
				<p>{{n[4]}}</p>	
			</div>
		</article>
	</article>

	<article class = 'links'>
			<ul>
				{% if session['username'] %}
					<li><h2><a href = "{{ url_for('addtoreadinglist', id = n[7])}}">Add to reading list</a></h2></li>

					<li><h2><a href = "{{ url_for('removefromreadinglist', id = n[7])}}">Remove from reading list</a></h2></li>
				{% endif %}	
				{% if session['username'] == n[8] %}
					<li><h2><a href = "{{ url_for('update', id = n[7])}}">Edit Recipe</a></h2></li>

					<li><h2><a href = "{{ url_for('delete', id = n[7])}}">Delete Recipe</a></h2></li>
				{% endif %}	
			</ul>	
	</article>

	<article id = 'dishnamesummarygroup2'>
		<article id = 'ingredientsshowcase'>
			<div class = 'container'>
				<h1> Ingredients:</h1>
				{% set ing = n[5].split('\n') %}	
				{% for x in ing %}
				<ul>
					<li>{{x}}</li>
				</ul>
				{% endfor %}
		
			</div>
		</article>
		<article id = 'directionsshowcase'>
			<div class = 'container'>
				<h1>Directions:</h1>
				{% set dir = n[6].split('\n') %}	
				{% for y in dir %}
				<ul>
					<li> {{y}}</li>
				</ul>
				{% endfor %}			
			</div>
		</article>
	</article>

	{% endfor %}
	
		<div class = 'commentheader'>
			<h1>Comments:</h1>	
		</div>
	{% if session['username'] %}
		<article id = 'commentbox' >
			<div class = 'container'>
				<form method="POST", action = {{id}}>
					<textarea name = 'comments' placeholder="Leave a comment..."></textarea> <br>

					<button type="submit">Submit</button>
				</form>
			</div>
		</article>
	<hr>

	{% endif %}
	<section id = 'commentsection'>
		{% for m in usercomment %}
		<div class = 'comments'>
			<div class ='container'>
					<h3> {{m[0]}} {{m[1]}}</h3>
					<p>{{m[2]}}</p>
				</div>
			</div>	
			{% endfor %}	
		</div>
	</section>

	

</section>

{% endblock %}


