{% extends "layout.html" %}

{% block content %} 

			
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
				{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}
			
<header class = 'half-black'>
		<div class="container">
			<nav>	
				<h2>RecipeShare</h2>
				<ul>
					{% if not session['username'] %}
							<li><a href = {{ url_for("register")}} >Register</a></li>
							<li><a href = {{ url_for("login")}}>Sign in</a></li>
					{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}> Logout </a></li>
					{% endif %}	
									
							<li><a href = "#">About</a></li>

					{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
					{% else %}
							<li><a href = {{ url_for("profile", username = session['username'])}}>Profile</a></li>
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
					{% endif %}	
				</ul>
			</nav>
		</div>
</header>	
<section id = 'showcase'>
	<div class='container'>
		<h3> Find a Recipe </h3>					
	</div>
		<div class = 'searchbar'>
			<form method = "POST" action = "search">
				<input type="text" name="recipesearch" placeholder="Search for recipes">
			</form>			
		</div>		
</section>
<section id ='articlebox'>
	<div id = 'banner'>			
		<div class='container'>
		<h1>What to cook this week?</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
	<div id = 'introduction'>
				<div class = 'introdescription'>
					<h1> SHARING IS CARING </h1>
					<p>I believe that people would be happier sharing things and being more of a collective rather than working from these neo-liberal ideas of just looking after yourself. People need each other</p> 
					<h4>- Karin Dreijer Andersson</h4>
				</div>

				<div class = 'introimage'>
					<img src = '/static/images/gourmet.jpg'>
				</div>
							
	</div>
	
	<div id ='articlecontainer'>
		<div class = 'row'>
			<h1>Add your specialty to the recipe collection</h1>
			{% if session['username'] %}
			<div class ='addrecipebutton'>
				<a href = 'addrecipe'>
					<button type="button"><a href = 'addrecipe'> Share your own recipe!</a></button>
				</a>
			</div><br><br><br>
			{% endif %}
			{% for n in recipe %}
				<div class = 'column'>
					<img src="{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" height = 200px height = 220px>
					<h3> {{n[1]}}</h3>
					<div class = 'descriptionbox'>
						<p>{{n[2]}}</p>
					</div>
						<br>
					<a href = "{{ url_for('article', id = n[0], dishname = n[1])}}">
						<button> Read More</button>
					</a>
				</div>	
			{% endfor %}	
		</div>	
	</div>
</section>

{% endblock %}
