{% extends "layout.html" %}

{% block content %} 

			
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
				{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}
			
<header class = 'half-black'>
		<div class="container">
			<nav>	
				{% if session['username'] %}
		        <a href = {{ url_for("home", username = session['username'])}}><h2>RecipeShare</h2></a>
		        {% else %}
		        <a href = {{ url_for("home")}}><h2>RecipeShare</h2></a>
		        {% endif %}
				<ul>
					{% if not session['username'] %}
							<li><a href = {{ url_for("register")}} >Register</a></li>
							<li><a href = {{ url_for("login")}}>Sign in</a></li>
					{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}>Logout</a></li>
					{% endif %}	
									
							<li><a href = {{ url_for("about")}}>About</a></li>

					{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
					{% else %}
							<li><a href = {{ url_for("profile", username = session['username'])}}>Profile({{session['username']}})</a></li>
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
					{% endif %}	
				</ul>
			</nav>
		</div>
</header>	
<section id = 'showcase'>
	<div class='container'>
		<h3> Find a Recipe </h3>					
	</div>
		<div class = 'searchbar'>
			<form method = "POST" action = "search">
				<input type="text" name="recipesearch" placeholder="Search for recipes">
			</form>			
		</div>		
</section>
<section id ='articlebox'>
	<div id = 'banner'>			
		<div class='container'>
		<h1>What to cook this week?</h1>
		<p>Share your own recipe and save it to our recipe collection!</p>
		</div>
	</div>
	<div id = 'introduction'>
				<div class = 'introdescription'>
					{% if quote and author %}
					<h1> SHARING IS CARING </h1>
					<p>{{quote}}</p> 
					<h5>- {{author}}</h5>
					<p>[Quotes from <a href = http://quotes.stormconsultancy.co.uk/>http://quotes.stormconsultancy.co.uk/</a>]</p>
					{% endif %}
				</div>

				<div class = 'introimage'>
					<img src = '/static/images/gourmet.jpg'>
				</div>
							
	</div>
	
	<div id ='articlecontainer'>
		<div class = 'row'>
			<h1>Our recipe collection</h1>

			{% if not session['username'] %}
			<div class ='addrecipebutton'>
				<a href = 'addrecipe'>
					<a href = 'login'><button type="button">Share your own recipe!</button></a>
				</a>
			</div><br><br><br>
			{% endif %}

			{% if session['username'] %}
			<div class ='addrecipebutton'>
				<a href = 'addrecipe'>
					<button type="button">Share your own recipe!</button>
				</a>
			</div><br><br><br>
			{% endif %}
			{% for n in recipe %}
				<div class = 'column'>
					<a href = "{{ url_for('article', id = n[0], dishname = n[1])}}">
						<img src="{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" height = 200px height = 220px>
						<h3> {{n[1]}}</h3>
						<div class = 'descriptionbox'>
							<p>{{n[2]}}</p>
						</div>
						<br>
					</a>
				</div>	
			{% endfor %}	
		</div>	
	</div>
</section>

{% endblock %}
