{% extends "layout.html" %}

{% block content %} 

			
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
				{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}


<section id = 'showcase'>
	<!-- <div class = 'container'>
		{% for name in firstname %}		
			<h1> Welcome {{name[0]}}<h1>
		{% endfor %}
	</div> -->
	<header class = 'half-black'>
		<div class="container">
			<nav>
				<ul>
					{% if not session['username'] %}
						<li><a href = {{ url_for("home")}}>Home</a></li>
					{% else %}
						<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
						<li><a href = {{ url_for("profile", username = session['username'])}}>Profile</a></li>
											
					{% endif %}	
						<li><a href = "#">About</a></li>
						<li><a href = "#">Contact us</a></li>
					{% if not session['username'] %}
						<li><a href = {{ url_for("register")}} >Register</a></li>
						<li><a href = {{ url_for("login")}}>Sign in</a></li>
					{% else %}
						<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}> Logout </a></li>
					{% endif %}	
				</ul>
			</nav>
		</div>
	</header>	

	<div class='container'>
		<h1> RECIPE</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>					
	</div>

	<div class = 'searchbar'>
		<input type="text" name="search" placeholder="Search for recipes">
	</div>	

</section>
<section id ='articlebox'>
	<div id = 'banner'>			
		<div class='container'>
		<h1>What to cook this week?</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		{% if session['username'] %}
			<div class = 'addrecipebutton'>
				<h2><a href = 'addrecipe'> Add Recipe </a></h2>
			</div>
		{% endif %}
		</div>
	</div>
	<div id ='articlecontainer'>
		<div class = 'row'>
			{% for n in recipe %}
				<div class = 'column'>
					<a href = "{{ url_for('article', id = n[0])}}">
					<img src="{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" height = 200px height = 220px>
					<h3> {{n[1]}}</h3>
				<div class = 'descriptionbox'>
					<p>{{n[2]}}</p>
				</div>
					</a>
					<br>
				</div>
			{% endfor %}
		</div>	
	</div>
</section>

	


{% endblock %}
