 <!DOCTYPE html>
<html lang="en">

	<head>
	
		<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1">
		<title>RecipeShare</title>
		
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		

	</head>

		<body>
			<div id = 'fullbodycontainer'>
				<div class = 'main'>
					<header class = 'loginnav'>
					
							<nav>	
									<div class ='hamburgerContainer'>
										<div class = 'hamburgerMenu'>
																			
										</div>
									</div>



								{% if not session['username'] %}
										<a href = {{ url_for("home")}}><h2>RecipeShare</h2></a>
						        {% else %}
						        		<a href = {{ url_for("home", username = session['username'])}}><h2>RecipeShare</h2></a>
								{% endif %}

								<div class = 'searchbar'>
									<form method = "POST" action = "search">
										<input type="text" name="recipesearch" placeholder="Search for recipes">
									</form>			
								</div>		
								<ul>
									{% if not session['username'] %}
											<li><a href = {{ url_for("home")}}>Home</a></li>
											<li><a href = {{ url_for("about")}}>About</a></li>
											<li><a href = {{ url_for("login")}}>Sign in</a></li>
											<li><a  href = {{ url_for("register")}}>Register</a></li>
											
									{% else %}

											<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
											<li><a href = {{ url_for("about")}}>About</a></li>
											<li class = 'userprofilename'>{{session['username']}} &#9660	

													<ul>
													<li><a href = {{ url_for("profile", username = session['username'])}}>Profile</a></li>
													<li><a href = {{ url_for("logout")}}>Logout</a></li>
													
												</ul>
											</li>
											

									{% endif %}		
								</ul>
							</nav>
						
					</header>
					{% block content %}{% endblock %}
				</div>
			</div>

				<footer>

							<p>RECIPESHARE &copy 2020 | All Rights Reserved.</p>
							<p>Created by: Ryan Eleazar</p>	
				</footer>

				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

				<script src="{{ url_for('static', filename ='scripts.js')}}"></script>
		</body>
</html>