<!DOCTYPE html>
<html lang="en">

	<head>
	
		<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1">
		<title>RecipeShare</title>
		
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		

	</head>

		<body>
			<div id = 'fullbodycontainer'>
				<div class = 'main'>
					{% block content %}{% endblock %}
				</div>
			</div>

				<footer>
							<p>RECIPESHARE &copy 2019 | All Rights Reserved.</p>
							<p>Created by: Ryan Eleazar</p>	
				</footer>
		</body>
</html>