{% extends "layout.html" %}

{% block content %} 

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
				{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}

<body class = 'loginpage'>

<section>

	<header class = 'loginnav'>
			<div class="container">
				<nav>
					{% if session['username'] %}
			        <a href = {{ url_for("home", username = session['username'])}}><h2>RecipeShare</h2></a>
			        {% else %}
			        <a href = {{ url_for("home")}}><h2>RecipeShare</h2></a>
			        {% endif %}
					<ul>
						{% if not session['username'] %}
							<li><a href = {{ url_for("register")}} >Register</a></li>
							
						{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}>Logout</a></li>
						{% endif %}	
									
							<li><a href = {{ url_for("about")}}>About</a></li>

						{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
						{% else %}
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
						{% endif %}	
					</ul>
				</nav>
			</div>
		</header>

		<div class ='logincontainer'>
			<form method = "POST" action = "login">
				<div class = 'formsbox'>
					<div>
						<label>Username</label><br>
					    <input type="text" placeholder="Username" name = "username">
		  			</div>
				  	<div>
				  		<label>Password</label><br>
					    <input type="password" placeholder="Password" name ="password">
					</div>
				  	<div>
				  		<button type="submit">Sign In</button>
				  	</div>
				  	<div>
						<p> Are you new here? <a href = 'register'>Create an account</a></p>
					</div>
			  	</div>
			</form>
		</div>
	</div>
</section>

</body>




{% endblock %}