{% extends "layout.html" %}

{% block content %} 

<br>
<br>
<br>
<br>

<section id = 'profilebox'>

	
	<div class = 'headername'>
		{% for name in UsersName %}
			<h2>{{name[0]}} {{name[1]}}</h2>
		{% endfor %}
	</div>

		<section>
	
			<h1>Created Recipes</h1>
			<div id = 'profilerecipecontainer'>
					<div class = 'row searchcontainer'>
						{% for n in UsersRecipe %}
							<div class = 'column'>
								<a href = "{{ url_for('article', id = n[0], dishname = n[1])}}">
								<img src="{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" height = 200px height = 220px>
								<h3> {{n[1]}}</h3>
								<div class = 'descriptionbox'>
									<p>{{n[2]}}</p>
								</div>
								</a>
								<br>
							</div>
						{% endfor %}
				</div>	
			</div>
			<div class = 'container'>
				<h1>Reading List</h1>
			</div>
			<div id ='profilerecipecontainer'>
				<div class = 'row searchcontainer'>
					{% for n in UsersReadingList %}
						<div class = 'column'>
								<a href = "{{ url_for('article', id = n[0], dishname = n[1])}}">
								<img src="{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" height = 200px height = 220px>
								<h3> {{n[1]}}</h3>
								<div class = 'descriptionbox'>
									<p>{{n[2]}}</p>
								</div>
								</a>
								<br>
							</div>
					{% endfor %}
				</div>	
			</div>
		</section>
</section>


{% endblock %}