{% extends "layout.html" %}

{% block content %} 

<body class = 'registrationpage'>
	
	<section>

		<header class = 'loginnav'>
			<div class="container">
				<nav>
					{% if session['username'] %}
			        <a href = {{ url_for("home", username = session['username'])}}><h2>RecipeShare</h2></a>
			        {% else %}
			        <a href = {{ url_for("home")}}><h2>RecipeShare</h2></a>
			        {% endif %}
					<ul>
						{% if not session['username'] %}
							<li><a href = {{ url_for("login")}} >Sign in</a></li>
							
						{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}>Logout</a></li>
						{% endif %}	
									
							<li><a href = {{ url_for("about")}}>About</a></li>

						{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
						{% else %}
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
						{% endif %}	
					</ul>
				</nav>
			</div>
		</header>
			<div>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages%}
							{{message}}
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
			<div id = 'registercontainer'>
					<form method = "POST" action = "register">
						<div class = 'registerform'>
							<div>
								<h3>REGISTER HERE</h3>
							</div>
							<div>
							    <input type="text" class="container"  placeholder="Username" name = "username">
				  			</div>
						  	<div>
			
							    <input type="password" class="container" placeholder="Password" name ="password">
						  	</div>
						  	<div>
							    <input type="text" class="container"  placeholder="First Name" name = "firstname">
				  			</div>
				  			<div>
							    <input type="text" class="container"  placeholder="Last Name" name = "lastname">
				  			</div>
						  	<div>
							    <input type="Email" class="container" placeholder="Email" name ="email">
						  	</div>
						  	<div>
						  		<button type="submit">Sign up</button>
						  	</div>
						</div>
					</form>
				</div>
			</div>	
	</section>
</body>



{% endblock %}