{% extends "layout.html" %}

{% block content %} 
	<br>
	<br>
	<br>
	<br>

		<div id ='articlecontainer'>
			<div class = 'row searchcontainer'>
				<h1>Search results: </h1>
				{% for n in recipe %}
					<div class = 'column'>
						<a href = "{{ url_for('article', id = n[0], dishname = n[1])}}">
							<img src="{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" height = 200px height = 220px>
							<h3> {{n[1]}}</h3>
							<div class = 'descriptionbox'>
								<p>{{n[2]}}</p>
							</div>
								<br>
						</a>
					</div>	
				{% endfor %}	
			</div>
		</div>	

{% endblock %}
