{% extends "layout.html" %}

{% block content %} 

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
			{{message}}
		{% endfor %}
	{% endif %}
{% endwith %}


<section>
	<header class = 'loginnav'>
		<div class="container">
			<nav>	
				{% if session['username'] %}
		        <a href = {{ url_for("home", username = session['username'])}}><h2>RecipeShare</h2></a>
		        {% else %}
		        <a href = {{ url_for("home")}}><h2>RecipeShare</h2></a>
		        {% endif %}
				<ul>
					{% if not session['username'] %}
							<li><a href = {{ url_for("register")}} >Register</a></li>
							<li><a href = {{ url_for("login")}}>Sign in</a></li>
					{% else %}
							<li id = 'LogoutButton' ><a href = {{ url_for("logout")}}>Logout</a></li>
					{% endif %}	
									
							<li><a href = {{ url_for("about")}}>About</a></li>

					{% if not session['username'] %}
							<li><a href = {{ url_for("home")}}>Home</a></li>
					{% else %}
							<li><a href = {{ url_for("profile", username = session['username'])}}>Profile({{session['username']}})</a></li>
							<li><a href = {{ url_for("home", username = session['username'])}}>Home</a></li>
					{% endif %}	
				</ul>
			</nav>
		</div>
	</header>



	<article id = 'updatesection'>
		<div class ='updateblock'>
			<div class = 'formcontainer2'>
					{% for n in recipe %}
					<img src = "{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" ><br>
					{% endfor %}		
			</div>
			<div class = 'formcontainer'>
				<form method = "POST" action = "update" enctype="multipart/form-data">
					{% for n in recipe %}
					<div class="container">
					    <label>Dishname:</label><br>
					    <input type="text" class="container" name = "dishname" value = {{n[1]}}>
		  			</div>
				  	<div class="container">
					    <label >Description:</label><br>
					    <textarea class = 'container' name = 'description'>{{n[2]}}</textarea> 
				  	</div>
				  	<div class="container">
					    <label >Ingredients:</label><br>
					    <textarea class = 'container' name = 'ingredients' placeholder="Enter ingredients in list form">{{n[3]}}</textarea>
				  	</div>
				  	<div class="container">
					    <label >Directions:</label><br>
					    <textarea class = 'container' name = 'directions' placeholder="Enter directions in list form">{{n[4]}}</textarea>
				  	</div>
					<div clas = 'container'> 
						<label>Main Image:</label>
				  		<input type="file" name="image" value = "{{ url_for('static' , filename = 'images/recipeimages/' + n[5])}}" >
				  	</div>
				  	 {% endfor %}
				  	<div class="container">
				  		<div class ='updatebuttons'>
				  			<button type="submit">Update</button>
				  			{% for n in recipe %}
				  				<a href = "{{ url_for('article', id = n[0])}}"><input type="button" name="cancel" value= 'Cancel'></a>
				  			{% endfor %}
				  		</div>
				  	</div>
				</form>
			</div>
		</div>
	</article>
</section>

{% endblock %}
